/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow-x: hidden;
}

#root {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fc7e77 0%, #c2bab3 100%);
  background-image: linear-gradient(to bottom, #11134f 0%, #474ba1 100%);
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

#root::before {
  width: 50%;
  height: 70%;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  left: 0;
  right: 0;
  filter: blur(100px);
  z-index: -0;
  animation: cloudanim 10s ease-in-out infinite alternate;
}

@keyframes cloudanim {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(50%);
  }

  /* 100% {
    transform: translateX(0);
  } */

}


.content-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px 0;
  color: white;
  /* background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.city-search-input {
  background-color: rgba(255, 255, 255, 0.45);
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
}

.city-search-input .btn-search {
  background-color: rgba(255, 255, 255, 0.45);

}

/* .form-control::placeholder{
  color: rgba(255, 255, 255, 0.65);
} */

.btn-search .btn {
  color: #fc7e77;
}


.city-details {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
}

.city-details .city-name {
  font-size: 34px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 5px;
  color: white;
}

.city-details .city-date span {
  color: #fff;
  font-weight: 500;
}

.city-temp-details {
  display: flex;
  margin-top: 35px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: flex-start;
}

.city-temp-details .temp {
  font-size: 60px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: flex-start;
}

.city-temp-details .temp-icon {
  /* border: 2px solid white; */
  display: inline-block;
  margin-right: 25px;
  margin-top: -15px;

}

.city-temp-details .temp-icon img {
  width: 100px;
}

.city-temp-details .temp .temp-unit {
  font-size: 72px;
}

.city-other-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.city-other-details .other-details-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
  width: 50%;

}

.other-details-item .other-details-item-label {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 9px 20px 6px;
  border-radius: 18px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

.other-details-item .other-details-item-value {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.weather-text {
  font-size: 26px;
  font-weight: 300;
  word-break: break-word;
  max-width: 70%;
  font-style: italic;
}



.carousel-root {
  width: 100%;
  height: 100%;
}

.carousel .control-dots {
  bottom: -11px !important;
}

/* .carousel-root .slider .slide {
  width: 50%;
  min-width: 50% !important;
} */


.sidebar {
  position: absolute;
  background: white;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 60%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.sidebar.active {
  transform: translateX(0);
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 18px;
}

.sidebar ul li a.active {
  color: #f6857e;

}

.header {
  /* background-color: rgba(255, 255, 255, 0.45);
  border-radius: 0 0 12px 12px;
  position: fixed;
  width: 100%;
  z-index: 5; */
  position: relative;
  z-index: 5;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  padding: 0 8px;
  text-align: center;
}

.forecast-slide {
  background-color: rgba(0, 0, 0, 0.1);
}