/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow-x: hidden;
}

#root {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fc7e77 0%, #c2bab3 100%);
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

.content-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px 0;
  color: white;
  /* background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.city-search-input {
  background-color: rgba(255, 255, 255, 0.45);
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
}

.city-search-input .btn-search {
  background-color: rgba(255, 255, 255, 0.45);

}

.btn-search .btn {
  color: #fc7e77;
}


.city-details {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.65);
}

.city-details .city-name {
  font-size: 34px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 5px;
  color: white;
}

.city-details .city-date span {
  color: #fff;
  font-weight: 500;
}

.city-temp-details {
  display: flex;
  margin-top: 35px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: flex-start;
}

.city-temp-details .temp {
  font-size: 60px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: flex-start;
}

.city-temp-details .temp-icon {
  /* border: 2px solid white; */
  display: inline-block;
  margin-right: 25px;
  margin-top: -15px;

}

.city-temp-details .temp-icon img {
  width: 100px;
}

.city-temp-details .temp .temp-unit {
  font-size: 72px;
}

.city-other-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.city-other-details .other-details-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
  width: 50%;

}

.other-details-item .other-details-item-label {
  background-color: rgba(255, 255, 255, 0.30);
  padding: 9px 20px 6px;
  border-radius: 18px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

.other-details-item .other-details-item-value {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.weather-text {
  font-size: 26px;
  font-weight: 300;
  word-break: break-word;
  max-width: 70%;
  font-style: italic;
}

/* .container h1 {
  font-size: 24px;
}

.container .input-field {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px 10px;
  color: #1e1641;
  font-size: 16px;
}

.container .input-field:focus,
.container .input-field:focus-visible,
.container .input-field:focus-within {
  border-color: #646cff;
}

.container .search-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;

  &:hover {
    background-color: #646cff;
    color: white;
  }
}

.container .card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  background-color: #646cff;
  color: white;
  position: relative;
}

.container .card .weather-icon {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px;
  border-radius: 8px;
  margin-right: 15px;
}

.container .card img {
  width: 80px;
}

.container .card h4 {
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
}

.container .card h4 span {
  font-weight: normal;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  font-weight: normal;
}

.container .card .last-update {
  font-size: 14px;
  color: #f0f0f0;
  margin-bottom: 10px;
  position: absolute;
  right: 10px;
  top: 3px;
} */

.carousel-root {
  width: 100%;
  height: 100%;
}

.carousel .control-dots {
  bottom: -11px !important;
}

/* .carousel-root .slider .slide {
  width: 50%;
  min-width: 50% !important;
} */